body {
    background-image: url("https://i.gifer.com/TiFv.gif");
    /*background-color: #f0f4f8;*/
    font-family: 'Arial', sans-serif;
    color: #333;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.container {
    /*background-image: url("https://cdn-icons-png.flaticon.com/512/4833/4833912.png");*/
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 500px;
    margin: 0 auto;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background-color: #0056b3;
}
